# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# SQLite Database
# -----------------------------
*.db

# -----------------------------
# Generated Student Images
# -----------------------------
data/students/*

# Keep folder structure
!data/students/.gitkeep

# -----------------------------
# Database Folder
# -----------------------------
data/database/*

!data/database/.gitkeep

# -----------------------------
# Excel Exports
# -----------------------------
data/exports/*

!data/exports/.gitkeep